:root {
    /* Tipografía */
    --fuente-principal: 'Quicksand', serif, 600;
    --fuente-secundaria: 'Quicksand', serif, 300;

    /* Colores */
    --color-principal: #03045e;
    --color-secundario: #9d4edd;
}

body {
    background-image: url('./fondo.jpeg');  
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 20px;
    max-width: 100%;
}

header, footer {
    text-align: center;
    padding: 10px 0;
    color: var(--color-principal);
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    

    
}

h1 {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 40px;
    color: var(--color-principal);
    margin: 20px;
}

h2 {
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    color: var(--color-secundario);
    font-size: 25px;
    margin: 10px;
}

#mi-parrafo {
    font-family: var(--fuente-secundaria);
    font-weight: 300;
    font-size: 18px;
    text-align: left;
    margin: 10px;
    margin-bottom: 15px;
    line-height: 1.6; /* Aumenta el espacio entre líneas para mejorar la legibilidad */
    white-space: normal; /* Asegúrate de que el espacio en blanco sea interpretado normalmente */
}

#projects2 {
    text-align: left; /* Alinear el título a la izquierda */
    padding-left: 20px;
}

.ux-ui-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Mantiene dos columnas */
    gap: 20px; /* Espaciado uniforme */
    padding: 20px;
    justify-content: center;
    align-items: start;
    
}

.ux-ui-container iframe {
    width: 100%;
    height: 320px; /* Altura uniforme */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    object-fit: cover;
    
}

/* Efecto hover */
.ux-ui-container iframe:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
